
@{
    ViewData["Title"] = "Maintenance";
}

<h1>Site Maintenance</h1>

<img src="~/images/giphy.gif" width="30%"/>

<p>This site it's closed to daily maintenance</p>
<p>We are sorry for the inconvenience. Please come back later.</p>

